@if (passCode) {
  <new-password [passCode]="passCode"></new-password>
} @else {
  <div class="change-password-container">
    <!-- Mostrar formulario si no se está cargando ni se ha enviado el correo -->
    @if (!isPasswordChange && !loading) {
      <div class="form-card">
        <div class="form-left">
          <h2>CAMBIO DE CONTRASEÑA</h2>

          <div class="input-container">
            <label for="identifier">Ingresa el usuario o correo al que quieres cambiar la contraseña</label>
            <input #identifier type="text" id="identifier" name="identifier" placeholder="Ingresa tu usuario o correo" required />
          </div>
          <button type="button" (click)="changePassword(identifier)" class="submit-button">Enviar Solicitud</button>
        </div>
        <div class="form-right">
          <img src="img/correcaminos.png" alt="logo correcaminos" />
          <h3>SICAT</h3>
        </div>
      </div>
    }

    <!-- Mostrar loader mientras se envía la solicitud -->
    @if (loading) {
      <div class="loader-container">
        <loader></loader><br />
        <h4 class="loader-message">Enviando correo de cambio de contraseña</h4>
      </div>
    }

    <!-- Mostrar mensaje de éxito cuando se completa el cambio -->
    @if (isPasswordChange) {
      <div class="password-sent-container">
        <div class="message-card">
          <img src="assets/email-sent.png" alt="Correo enviado" />
          <h2>¡Correo enviado!</h2>
          <p>
            Hemos enviado un correo a <strong>{{ email }}</strong> con las instrucciones para cambiar tu contraseña.
          </p>
          <button class="back-button" (click)="back()">Volver</button>
        </div>
      </div>
    }
  </div>
}

<!-- <notifications/> -->
