.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    position: relative;
}

.select-group {
    display: flex;
    gap: 10px;

    select {
        flex: 1;
    }
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: #999;
}

.close-btn:hover {
    color: #333;
}

/* Resto de estilos */