* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h4 {
    margin: 10px;
    font-size: large;
    font-weight: bold;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #5A0A18;
    color: #a3753a;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.icon_menu {
    cursor: pointer;
    color: #a3753a;
    display: flex;
    align-items: center;
    height: 75px;
}

.icon_menu i {
    display: flex;
    justify-content: center;
    margin-right: auto;
    width: 100px;
    height: 50px;
    align-items: center;
}

.icon_menu i:hover {
    background-color: #810c20;
}

.menu_side {
    position: fixed;
    top: 75px;
    bottom: 0;
    left: 0;
    width: 250px; /* Ajusta el ancho del menú */
    transform: translateX(-250px); /* Menú oculto inicialmente */
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    overflow-y: auto;
    background-color: #5A0A18;
}

.menu_side.active {
    transform: translateX(0); /* Mostrar menú */
}

#content-wrapper {
    flex: 1;
    margin-top: 75px; /* Coincide con la altura del header */
    margin-left: 0;
    transition: margin-left 0.3s ease-in-out;
    overflow-y: auto;
    height: calc(100% - 75px); /* Resta la altura del header */
}

#content-wrapper.shifted {
    margin-left: 250px; /* Coincide con el ancho del menú lateral */
}

#main_content {
    padding: 70px;
    height: 100%;
}

.options_menu .option, 
.submenu-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #a3753a;
    text-decoration: none;
    padding: 10px;
    margin-top: 5px;
    transition: background 0.3s ease;
}

.options_menu .option i, 
.submenu-item i {
    margin-right: 15px;
}

.options_menu .option:hover,
.submenu-item:hover {
    background: #444;
    color: #fff;
}

.options_menu .selected {
    background: #444;
    color: #fff;
}

.submenu {
    display: none;
    padding-left: 20px;
}

.submenu.active {
    display: block;
}

.submenu-item {
    background-color: #5A0A18;
    border-left: 2px solid transparent;
}

.submenu-item:hover {
    background-color: #444;
    color: #fff;
    border-left: 2px solid #a3753a;
}

.submenu-item.selected {
    background-color: #810c20;
    color: #fff;
    border-left: 2px solid #a3753a;
}

main {
    margin-top: 75px;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
    background-color: #fcefd5;
}

main.menu-opened {
    margin-left: 250px;
}

body{
    background-color: #fcefd5;
}