<app-nav-bar>
    @switch (page) {
        @case ('init') {
            <app-init>
            </app-init>
        }
        @case ('dep'){
            <h3>Actividades deportivas</h3>
            <actividades [tipo]="'dep'">
            </actividades>
        }
        @case ('cul'){
            <h3>Actividades culturales</h3>
            <actividades [tipo]="'cul'">
            </actividades>
        }
        @case('profile'){
            <profile>
            </profile>
        }
        @case ('alumnos') {
            <alumnos>
            </alumnos>
        }
        @default {
            {{notFound()}}
        }
    }
</app-nav-bar>

