.eventos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.event-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: Arial, sans-serif;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    &.active {
        background-color: #e1f5fe; 
        border: 2px solid #1C3B6B;
    }

    &.ended {
        background-color: #ffebee;
        border: 2px solid #f44336; 
    }

    h2 {
        margin: 0;
        font-size: 1.5rem;
        color: #333;
        font-weight: bold;
    }

    .status {
        margin: 10px 0;
        padding: 5px 10px;
        border-radius: 12px;
        text-align: center;
        font-size: 0.9rem;
        font-weight: bold;
        text-transform: uppercase;

        &.active {
            color: #1C3B6B; 
            background-color: #c5e1f7; 
        }

        &.ended {
            color: #d32f2f; 
            background-color: #ffcdd2; 
        }
    }

    .details {
        margin-top: 10px;

        p {
            margin: 5px 0;
            font-size: 0.9rem;

            strong {
                color: #555;
            }
        }
    }
}


button {
    background: var(--primary);
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
        background: var(--primary-dark);
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.95);
    }

    &:disabled {
        background: #ccc;
        cursor: not-allowed;
    }
}