@if (isEnabled) {
  <div class="notification {{ type }}">
    <div class="icon {{ type }}">
      @switch (type) {
        @case ('error') {
          <i class="fas fa-exclamation-circle"></i>
        }
        @case ('check') {
          <i class="fas fa-check-circle"></i>
        }
        @case ('info') {
          <i class="fas fa-info-circle"></i>
        }
      }
    </div>
    <div class="content">
      <strong>{{ title }}</strong>
      <p>{{ message }}</p>
    </div>
    <div class="close-button" (click)="close()">
      <i class="fas fa-times"></i>
    </div>
  </div>
} @else {
  <ng-template></ng-template>
}
