<div class="container">
    <h2 class="title">Crear Usuario</h2>

    <!-- Mensaje de éxito -->
    <div *ngIf="successMessage" class="success">
        {{ successMessage }}
    </div>

    <!-- Mensaje de error -->
    <div *ngIf="errorMessage" class="error">
        {{ errorMessage }}
    </div>

    <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" [(ngModel)]="user.Nombre" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="correo">Correo</label>
            <input type="email" id="correo" name="correo" [(ngModel)]="user.Correo" class="form-control" required />
        </div>

        <div class="form-group password-group">
            <label for="contrasena">Contraseña</label>
            <input [type]="showPassword ? 'text' : 'password'" id="contrasena" name="contrasena" [(ngModel)]="user.Contrasena" class="form-control" required minlength="8" />
            <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
                {{ showPassword ? 'Ocultar' : 'Mostrar' }}
            </button>
        </div>

        <div class="form-group">
            <label for="tipo">Tipo de Usuario</label>
            <select id="tipo" name="tipo" [(ngModel)]="user.Tipo" class="form-control" required>
                <option value="1">Encargado de actividades extraescolares</option>
                <option value="2">Secretario</option>
                <option value="3">Encargado</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Crear Usuario</button>
    </form>
</div>
