<body>
  <ng-template>
    <notifications> </notifications>
  </ng-template>

  <div class="container-form">
    <div class="info">
      <div class="info-items">
        <h2>INICIO DE SESIÓN</h2>
        <form [formGroup]="formulario" (ngSubmit)="login()" class="form">
          <label>
            <i class="bi bi-envelope"></i>
            <input type="text" name="username" formControlName="usuario" placeholder="Usuario" />
          </label>
          <label>
            <i class="bi bi-key"></i>
            <input [type]="mostrarContrasena ? 'text' : 'password'" name="password" formControlName="contrasena" placeholder="Contraseña" />
            <i class="bi" [class.bi-eye]="!mostrarContrasena" [class.bi-eye-slash]="mostrarContrasena" (click)="toggleMostrarContrasena()"></i>
          </label>
          <a href="{{ front }}/change-password">¿Olvidaste tu contraseña?</a>
          <input name="btnLogin" type="submit" value="Iniciar Sesión" />
        </form>
      </div>
    </div>
    <div class="design">
      <div class="SICAT">
        <img src="img/correcaminos.png" alt="logo correcaminos" />
        <h2>SICAT</h2>
      </div>
    </div>
  </div>
</body>
