*{
    background-color: #fcefd5;
}

.actividad {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fcefd5; /* Fondo claro */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  
    .text {
      margin-right: 20px;
      
      h5 {
        font-size: 1.2rem;
        color: #5A0A18; /* Texto marrón oscuro */
        margin: 0;
      }
    }
  
    .imagen {
      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    }
  }
  