@if (actividades.length === 0) {
  <div class="no-activities">
    <div class="text">No tienes actividades {{ tipo === 'dep' ? 'deportivas' : 'culturales' }} asociadas</div>
  </div>
} @else {
  @if (id !== 0) {
    <app-alumnos-actividad [id_actividad]="id" [name_actividad]="name"></app-alumnos-actividad>
  } @else {
    @for (actividad of actividades; track $index) {
      <div class="actividad" (click)="id = actividad.Id_actividad_pk; name = actividad.Nombre">
        <div class="text">
          <h2>ID: {{ actividad.Id_actividad_pk }}</h2>
          <h5>{{ actividad.Nombre }}</h5>
        </div>
        <div class="imagen">
          <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi5.walmartimages.com.mx%2Fmg%2Fgm%2F3pp%2Fasr%2Ff82d57cb-5d73-4f7b-9539-fe4004c88d8d.b4e37a6a26c186f3555765a39e1e17f2.jpeg%3FodnHeight%3D2000%26odnWidth%3D2000%26odnBg%3Dffffff&f=1&nofb=1&ipt=557e03324e71b77de53152883fcee4906c6df02378ac09ce99461b771c461e12&ipo=images" alt="" />
        </div>
      </div>
    }
  }
}
