@if (passCode && passCode.length <= 45 && passCode.length >= 44) {
  <div class="new-password-container">
    <div class="password-card">
      <h2>Crear Nueva Contraseña</h2>

      <!-- Mensaje de error -->
      <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>

      <!-- Mensaje de éxito -->
      <p class="success-message" *ngIf="successMessage">{{ successMessage }}</p>

      <!-- Campo de Nueva Contraseña -->
      <div class="input-group">
        <label for="newPassword">Nueva Contraseña</label>
        <input #inputPassword type="password" id="newPassword" placeholder="Ingresa tu nueva contraseña" [(ngModel)]="newPassword" />
        <i class="bi bi-eye-fill" (click)="viewContentInput(inputPassword)"></i>
      </div>

      <!-- Campo para Confirmar Contraseña -->
      <div class="input-group">
        <label for="confirmPassword">Confirmar Contraseña</label>
        <input #inputConfirmPassword type="password" id="confirmPassword" placeholder="Repite tu nueva contraseña" [(ngModel)]="confirmPassword" />
        <i class="bi bi-eye-fill" (click)="viewContentInput(inputConfirmPassword)"></i>
      </div>

      <!-- Botón de Enviar -->
      <button class="submit-button" (click)="onSubmit()" [disabled]="!newPassword || !confirmPassword || newPassword !== confirmPassword">Cambiar contraseña</button>
    </div>
  </div>
} @else {
  {{ close() }}
}
