

button{
    color: #323232;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
}   

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

