.table-container {
    width: 100%;
    overflow-x: auto;
}

.alumnos-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button{
    padding: 10px;
    background-color: #5a0a18;
    color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 25vw;

    &:hover{
        background-color: #b2132d;
        color: #c0bdbd;
    }
}

.filters {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.filters input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #5a0a18;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px;
    background-color: #5a0a18;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}

/* Media queries */
@media (max-width: 768px) {
    .filters {
        flex-direction: column;
        gap: 5px;
    }

    .filters input {
        width: 100%;
    }

    table {
        font-size: 14px;
    }

    th,
    td {
        padding: 8px;
    }

    button {
        width: 100%;
        padding: 10px;
    }

    .pagination {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    table {
        font-size: 12px;
    }

    th,
    td {
        padding: 6px;
    }

    .filters input {
        padding: 8px;
    }

    button {
        padding: 8px;
        font-size: 14px;
    }

    .pagination {
        gap: 10px;
    }
}