<ng-template #navBarContent>
    <div class="button-group">
        <button (click)="openComponent('addEncargado')">Agregar encargado</button>
        <button (click)="openComponent('addUser')">Agregar usuario</button>
        <button (click)="openComponent('viewEncargados')">Ver encargados</button>
    </div>
</ng-template>

<div class="container-container">
    <div class="container">
        @switch (true) {
            @case (openComponents.addEncargado) {
                <add-encargado></add-encargado>
            }
            @case (openComponents.addUser) {
                <add-user></add-user>
            }
            @case (openComponents.viewEncargados) {
                <div class="header">
                    <h2>Lista de Encargados</h2>
                </div>

                @if (errorMessage) {
                    <div class="error">{{ errorMessage }}</div>
                }

                @if (encargados.length > 0) {
                    <div class="table-container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Apellido Paterno</th>
                                    <th>Apellido Materno</th>
                                    <th>Correo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let encargado of encargados" (click)="showDetails(encargado)">
                                    <td>{{ encargado.Id_encargado_pk }}</td>
                                    <td>{{ encargado.Nombre }}</td>
                                    <td>{{ encargado.Ap_paterno }}</td>
                                    <td>{{ encargado.Ap_materno }}</td>
                                    <td>{{ encargado.usuario?.Correo || 'Sin asignar' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                } @else {
                    @if (!errorMessage) {
                        <div class="no-data">No hay encargados disponibles.</div>
                    }
                }

                @if (selectedEncargado) {
                    <div class="modal">
                        <div class="modal-content">
                            <button class="close-btn" (click)="closeDetails()">
                                <i class="fas fa-times"></i>
                            </button>

                            <h2>Detalles del Encargado</h2>
                            <div class="details-content">
                                <p><strong>ID:</strong> {{ selectedEncargado.Id_encargado_pk }}</p>
                                <p><strong>Nombre:</strong> {{ selectedEncargado.Nombre }}</p>
                                <p><strong>Apellido Paterno:</strong> {{ selectedEncargado.Ap_paterno }}</p>
                                <p><strong>Apellido Materno:</strong> {{ selectedEncargado.Ap_materno }}</p>
                                <p><strong>Correo:</strong> {{ selectedEncargado.usuario?.Correo || 'Sin asignar' }}</p>
                            </div>

                            <div class="horarios-actividades">
                                <h3>Horarios y Actividades</h3>
                                <button (click)="openAddHorario = !openAddHorario" class="button-modal">Agregar horario</button>

                                @if (openAddHorario) {
                                    <add-user-horario (onClose)="openAddHorario = false" [idEncargado]="selectedEncargado.Id_encargado_pk"> </add-user-horario>
                                }

                                <ul class="horarios-list">
                                    <li *ngFor="let detalle of selectedEncargado.detalles">
                                        <p>
                                            <strong>Horario:</strong>
                                            {{ desformatearHorario(detalle.horario?.Dia) }} <br />
                                            {{ detalle.horario?.Hora_inicio }} - {{ detalle.horario?.Hora_fin }}
                                        </p>
                                        <p>
                                            <strong>Actividad:</strong>
                                            {{ detalle.actividad?.Nombre }}
                                            ({{ detalle.actividad?.Tipo }})
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>
